<div>
  <ul class="flex space-x-2 rtl:space-x-reverse">
    <li>
      <a href="javascript:;" class="text-primary hover:underline">{{ 'breadcrumbs.dashboard' | translate }}</a>
    </li>
  </ul>
  <div class="pt-5">
    <div class="mb-6 grid gap-6 xl:grid-cols-3">
      <div class="panel h-full sm:col-span-2 xl:col-span-1">
        <div class="mb-5 flex items-start justify-between">
          <h5 class="text-lg font-semibold dark:text-white-light">{{ 'System Info' | translate }}</h5>
        </div>
        <div class="flex flex-col space-y-5">
          <!-- CPU -->
          <div class="flex items-center">
            <div class="h-9 w-9">
              <div class="flex h-9 w-9 items-center justify-center rounded-xl bg-primary/10 text-primary dark:bg-primary dark:text-white-light">
                <icon-cpu-bolt class="h-5 w-5" />
              </div>
            </div>
            <div class="w-full flex-initial px-3">
              <div class="w-summary-info mb-1 flex justify-between font-semibold text-white-dark">
                <h6>{{ 'CPU' | translate }}</h6>
                <p class="text-xs ltr:ml-auto rtl:mr-auto">{{ cpuUsage | number:'1.0-0' }}%</p>
              </div>
              <div>
                <div class="h-5 w-full overflow-hidden rounded-full bg-dark-light p-1 shadow-3xl dark:bg-dark-light/10 dark:shadow-none">
                  <div class="relative h-full w-full rounded-full bg-gradient-to-r from-[#1b55e2] to-[#17c1e8] before:absolute before:inset-y-0 before:m-auto before:h-2 before:w-2 before:rounded-full before:bg-white ltr:before:right-0.5 rtl:before:left-0.5" [style.width.%]="cpuUsage"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- Memory -->
          <div class="flex items-center">
            <div class="h-9 w-9">
              <div class="flex h-9 w-9 items-center justify-center rounded-xl bg-danger/10 text-danger dark:bg-danger dark:text-white-light">
                <icon-safari class="h-5 w-5" />
              </div>
            </div>
            <div class="w-full flex-initial px-3">
              <div class="w-summary-info mb-1 flex justify-between font-semibold text-white-dark">
                <h6>{{ 'Memory' | translate }}</h6>
                <p class="text-xs ltr:ml-auto rtl:mr-auto">{{ memoryUsage | number:'1.0-0' }}%</p>
              </div>
              <div>
                <div class="h-5 w-full overflow-hidden rounded-full bg-dark-light p-1 shadow-3xl dark:bg-dark-light/10 dark:shadow-none">
                  <div class="relative h-full w-full rounded-full bg-gradient-to-r from-[#e7515a] to-[#f7b731] before:absolute before:inset-y-0 before:m-auto before:h-2 before:w-2 before:rounded-full before:bg-white ltr:before:right-0.5 rtl:before:left-0.5" [style.width.%]="memoryUsage"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- Disk -->
          <div class="flex items-center">
            <div class="h-9 w-9">
              <div class="flex h-9 w-9 items-center justify-center rounded-xl bg-warning/10 text-warning dark:bg-warning dark:text-white-light">
                <icon-globe class="h-5 w-5" />
              </div>
            </div>
            <div class="w-full flex-initial px-3">
              <div class="w-summary-info mb-1 flex justify-between font-semibold text-white-dark">
                <h6>{{ 'Disk' | translate }}</h6>
                <p class="text-xs ltr:ml-auto rtl:mr-auto">{{ diskUsage | number:'1.0-0' }}%</p>
              </div>
              <div>
                <div class="h-5 w-full overflow-hidden rounded-full bg-dark-light p-1 shadow-3xl dark:bg-dark-light/10 dark:shadow-none">
                  <div class="relative h-full w-full rounded-full bg-gradient-to-r from-[#fe5f75] to-[#fc9842] before:absolute before:inset-y-0 before:m-auto before:h-2 before:w-2 before:rounded-full before:bg-white ltr:before:right-0.5 rtl:before:left-0.5" [style.width.%]="diskUsage"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel h-full xl:col-span-2">
        <div class="mb-5 flex items-center justify-between dark:text-white-light">
          <h5 class="text-lg font-semibold">{{ 'Bandwidth' | translate }}</h5>
        </div>
        <p class="text-lg dark:text-white-light/90"> {{ 'Average bandwidth' | translate }}<span class="ml-2 text-primary">{{ averageBandwidth | number:'1.0-1' }}%</span></p>
        <div class="relative overflow-hidden">
          <apx-chart *ngIf="revenueChart" [series]="revenueChart.series" [chart]="revenueChart.chart" [dataLabels]="revenueChart.dataLabels"
            [stroke]="revenueChart.stroke" [colors]="revenueChart.colors" [markers]="revenueChart.markers"
            [labels]="revenueChart.labels" [xaxis]="revenueChart.xaxis" [yaxis]="revenueChart.yaxis"
            [grid]="revenueChart.grid" [legend]="revenueChart.legend" [tooltip]="revenueChart.tooltip"
            [fill]="revenueChart.fill" class="rounded-lg bg-white dark:bg-black">
          </apx-chart>
          <!-- loader -->
          <div *ngIf="!revenueChart" class="grid min-h-[325px] place-content-center bg-white-light/30 dark:bg-dark dark:bg-opacity-[0.08]">
            <span
              class="inline-flex h-5 w-5 animate-spin rounded-full border-2 border-black !border-l-transparent dark:border-white"></span>
          </div>
        </div>
      </div>
    </div>


    <div class="mb-6 grid gap-6 lg:grid-cols-3">
      <div class="panel h-full xl:col-span-2">
        <div class="mb-5 flex items-center justify-between dark:text-white-light">
          <h5 class="text-lg font-semibold">{{ 'Protocol Transaction Trends' | translate }}</h5>
        </div>
        <p class="text-lg dark:text-white-light/90">{{ 'dashboard.flowCount' | translate }}<span class="ml-2 text-primary">{{ totalFlowCount | number }}</span></p>
        <div class="relative overflow-hidden">
          <apx-chart *ngIf="protocolTrending" [series]="protocolTrending.series" [chart]="protocolTrending.chart"
            [dataLabels]="protocolTrending.dataLabels" [stroke]="protocolTrending.stroke"
            [colors]="protocolTrending.colors" [markers]="protocolTrending.markers" [labels]="protocolTrending.labels"
            [xaxis]="protocolTrending.xaxis" [yaxis]="protocolTrending.yaxis" [grid]="protocolTrending.grid"
            [legend]="protocolTrending.legend" [tooltip]="protocolTrending.tooltip" [fill]="protocolTrending.fill"
            class="rounded-lg bg-white dark:bg-black">
          </apx-chart>
          <div *ngIf="!protocolTrending" class="grid min-h-[325px] place-content-center bg-white-light/30 dark:bg-dark dark:bg-opacity-[0.08]">
            <span
              class="inline-flex h-5 w-5 animate-spin rounded-full border-2 border-black !border-l-transparent dark:border-white"></span>
          </div>
        </div>
      </div>



  <div class="panel h-full overflow-visible">
        <div class="mb-5 flex items-center">
          <h5 class="text-lg font-semibold dark:text-white-light">{{ 'Application Protocol' | translate }}</h5>
        </div>
        <div class="overflow-hidden">
          <apx-chart *ngIf="salesByCategory" [series]="salesByCategory.series" [chart]="salesByCategory.chart"
            [dataLabels]="salesByCategory.dataLabels" [stroke]="salesByCategory.stroke"
            [colors]="salesByCategory.colors" [legend]="salesByCategory.legend"
            [plotOptions]="salesByCategory.plotOptions" [labels]="salesByCategory.labels"
            [states]="salesByCategory.states" class="rounded-lg bg-white dark:bg-black" style="height: 100%;">
          </apx-chart>

          <!-- loader -->
          <div *ngIf="!salesByCategory" class="grid min-h-[520px] place-content-center bg-white-light/30 dark:bg-dark dark:bg-opacity-[0.08]">
            <span
              class="inline-flex h-5 w-5 animate-spin rounded-full border-2 border-black !border-l-transparent dark:border-white"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-6 grid grid-cols-1 gap-6 lg:grid-cols-2">
      <div class="panel h-full w-full">
        <div class="mb-5 flex items-center justify-between">
          <h5 class="text-lg font-semibold dark:text-white-light">{{ 'Asset' | translate }}</h5>
        </div>
        <div class="table-responsive">
          <table>
            <thead>
              <tr>
                <th class="ltr:rounded-l-md rtl:rounded-r-md">{{ 'Severity' | translate }}</th>
                <th>{{ 'Asset' | translate }}</th>
                <th>{{ 'Timestamp' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="!assets || assets.length === 0" class="text-center text-white-dark dark:text-white-light/90">
                <td colspan="3">{{ 'No data' | translate }}</td>
              </tr>
              <tr *ngFor="let a of assets" class="group text-white-dark hover:text-black dark:hover:text-white-light/90">
                <td>
                  <span [ngClass]="'badge shadow-md ' + getSeverityBadgeClass(a.severity)">{{ a.severityLabel | translate }}</span>
                </td>
                <td class="whitespace-nowrap font-semibold text-black dark:text-white-light">{{ a.asset }}</td>
                <td class="text-xs text-gray-600 dark:text-gray-300">{{ a.lastTimestamp | date:'yyyy-MM-dd HH:mm:ss' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="panel h-full w-full">
        <div class="mb-5 flex items-center justify-between">
          <h5 class="text-lg font-semibold dark:text-white-light">{{ 'Alarm' | translate }}</h5>
        </div>
        <div class="table-responsive">
          <table>
            <thead>
              <tr>
                <th class="ltr:rounded-l-md rtl:rounded-r-md">{{ 'Severity' | translate }}</th>
                <th>{{ 'Signature' | translate }}</th>
                <th class="ltr:rounded-r-md rtl:rounded-l-md">{{ 'Timestamp' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="!alarms || alarms.length === 0" class="text-center text-white-dark dark:text-white-light/90">
                <td colspan="3">{{ 'No data' | translate }}</td>
              </tr>
              <tr *ngFor="let al of alarms" class="group text-white-dark hover:text-black dark:hover:text-white-light/90">
                <td>
                  <span [ngClass]="'badge shadow-md ' + getSeverityBadgeClass(al.severity)">{{ al.severityLabel | translate }}</span>
                </td>
                <td class="whitespace-nowrap">{{ al.signature }}</td>
                <td class="text-xs text-gray-600 dark:text-gray-300">{{ al.lastTimestamp | date:'yyyy-MM-dd HH:mm:ss' }}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>


    <div class="grid gap-6 lg:grid-cols-3">
      <div class="panel h-full xl:col-span-3">
        <div class="mb-5 flex items-center justify-between dark:text-white-light">
          <h5 class="text-lg font-semibold">{{ 'Network Protocol Trend Chart' | translate }}</h5>
        </div>
  <p class="text-lg dark:text-white-light/90">{{ 'Flow Count' | translate }}<span class="ml-2 text-primary">{{ networkProtocolFlowCount | number }}</span></p>
        <div class="relative overflow-hidden">
          <apx-chart [series]="tcpTrending.series" [chart]="tcpTrending.chart"
            [dataLabels]="tcpTrending.dataLabels" [stroke]="tcpTrending.stroke"
            [colors]="tcpTrending.colors" [markers]="tcpTrending.markers" [labels]="tcpTrending.labels"
            [xaxis]="tcpTrending.xaxis" [yaxis]="tcpTrending.yaxis" [grid]="tcpTrending.grid"
            [legend]="tcpTrending.legend" [tooltip]="tcpTrending.tooltip" [fill]="tcpTrending.fill"
            class="rounded-lg bg-white dark:bg-black">
            <!-- loader -->
            <div class="grid min-h-[325px] place-content-center bg-white-light/30 dark:bg-dark dark:bg-opacity-[0.08]">
              <span
                class="inline-flex h-5 w-5 animate-spin rounded-full border-2 border-black !border-l-transparent dark:border-white"></span>
            </div>
          </apx-chart>
        </div>
      </div>


    </div>
  </div>
</div>
