<div [ngClass]="{ 'dark text-white-dark': store.semidark }">
    <nav class="sidebar fixed bottom-0 top-0 z-50 h-full min-h-screen w-[260px] shadow-[5px_0_25px_0_rgba(94,92,154,0.1)] transition-all duration-300">
        <div class="h-full bg-white dark:bg-[#0e1726]">
            <div class="flex items-center justify-between px-4 py-3">
                <a routerLink="/" class="main-logo flex shrink-0 items-center">
                    <img class="ml-[5px] w-8 flex-none" src="/assets/images/logo1.svg" alt="" />
                    <span class="align-middle text-2xl font-semibold dark:text-white-light lg:inline ltr:ml-1.5 rtl:mr-1.5">NetGenie</span>
                </a>
                <a
                    href="javascript:;"
                    class="collapse-icon flex h-8 w-8 items-center rounded-full transition duration-300 hover:bg-gray-500/10 hover:text-primary dark:text-white-light dark:hover:bg-dark-light/10 rtl:rotate-180"
                    (click)="storeData.dispatch({ type: 'toggleSidebar'})"
                >
                    <icon-carets-down class="m-auto rotate-90" />
                </a>
            </div>
            <ng-scrollbar class="relative !h-[calc(100vh-80px)]" appearance="compact">
                <ul class="relative space-y-0.5 p-4 py-0 font-semibold">
                    <!-- <li class="accordion menu nav-item">
                        <button
                            type="button"
                            class="nav-link group w-full"
                            [ngClass]="{ active: activeDropdown.includes('dashboard') }"
                            (click)="toggleAccordion('dashboard')"
                        >
                            <div class="flex items-center">
                                <icon-menu-dashboard class="shrink-0 group-hover:!text-primary" />

                                <span class="text-black dark:text-[#506690] dark:group-hover:text-white-dark ltr:pl-3 rtl:pr-3">
                                    {{ 'navigation.dashboard' | translate }}
                                </span>
                            </div>
                            <div [ngClass]="{ 'rtl:rotate-90 -rotate-90': !activeDropdown.includes('dashboard') }">
                                <icon-caret-down />
                            </div>
                        </button>
                        <div [@slideDownUp]="!activeDropdown.includes('dashboard')" class="accordion-content">
                            <ul class="sub-menu text-gray-500">
                                <li>
                                    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleMobileMenu()"
                                        >{{ 'sales' | translate }}</a
                                    >
                                </li>
                                <li>
                                    <a routerLink="/analytics" routerLinkActive="active" (click)="toggleMobileMenu()">{{ 'analytics' | translate }}</a>
                                </li>
                                <li>
                                    <a routerLink="/finance" routerLinkActive="active" (click)="toggleMobileMenu()">{{ 'finance' | translate }}</a>
                                </li>
                                <li>
                                    <a routerLink="/crypto" routerLinkActive="active" (click)="toggleMobileMenu()">{{ 'crypto' | translate }}</a>
                                </li>
                            </ul>
                        </div>
                    </li> -->



                    <li class="nav-item">
                        <ul>
                            <li class="nav-item">
                                <a routerLink="/dashboard" class="group" routerLinkActive="active" (click)="toggleMobileMenu()">
                                    <div class="flex items-center">
                                        <icon-menu-dashboard class="shrink-0 group-hover:!text-primary" />


                                        <span class="text-black dark:text-[#506690] dark:group-hover:text-white-dark ltr:pl-3 rtl:pr-3"
                                            >{{ 'sidebar.overview' | translate }}</span
                                        >
                                    </div>
                                </a>
                            </li>


                            <li class="accordion menu nav-item">
                                <button
                                    type="button"
                                    class="nav-link group w-full"
                                    [ngClass]="{ active: activeDropdown.includes('collector') }"
                                    (click)="toggleAccordion('collector')"
                                >
                                    <div class="flex items-center">
                                        <icon-menu-datatables class="shrink-0 group-hover:!text-primary" />

                                        <span class="text-black dark:text-[#506690] dark:group-hover:text-white-dark ltr:pl-3 rtl:pr-3"
                                            >{{ 'navigation.collector' | translate }}</span
                                        >
                                    </div>
                                    <div [ngClass]="{ 'rtl:rotate-90 -rotate-90': !activeDropdown.includes('invoice') }">
                                        <icon-caret-down />
                                    </div>
                                </button>
                                <div [@slideDownUp]="!activeDropdown.includes('collector')" class="accordion-content">
                                    <ul class="sub-menu text-gray-500">
                                        <li>
                                            <a routerLink="/collector" routerLinkActive="active" (click)="toggleMobileMenu()"
                                                >{{ 'navigation.collectorAnalyzer' | translate }}</a
                                            >
                                        </li>
                                        <!-- <li>
                                            <a routerLink="/filter" routerLinkActive="active" (click)="toggleMobileMenu()"
                                                >{{ 'navigation.filter' | translate }}</a
                                            >
                                        </li> -->
                                    </ul>
                                </div>
                            </li>


                            <li class="accordion menu nav-item">
                                <button
                                    type="button"
                                    class="nav-link group w-full"
                                    [ngClass]="{ active: activeDropdown.includes('eventAlarm') }"
                                    (click)="toggleAccordion('eventAlarm')"
                                >
                                    <div class="flex items-center">
                                        <icon-info-circle [fill]="true" class="shrink-0 group-hover:!text-primary" />

                                        <span class="text-black dark:text-[#506690] dark:group-hover:text-white-dark ltr:pl-3 rtl:pr-3"
                                            >{{ 'navigation.eventAlarm' | translate }}</span
                                        >
                                    </div>
                                    <div [ngClass]="{ 'rtl:rotate-90 -rotate-90': !activeDropdown.includes('eventAlarm') }">
                                        <icon-caret-down />
                                    </div>
                                </button>
                                <div [@slideDownUp]="!activeDropdown.includes('eventAlarm')" class="accordion-content">
                                    <ul class="sub-menu text-gray-500">
                                        <li>
                                            <a routerLink="/alarm/event" routerLinkActive="active" (click)="toggleMobileMenu()">{{ 'navigation.event' | translate }}</a>
                                        </li>
                                        <li>
                                            <a
                                                routerLink="/report/notification-rule"
                                                routerLinkActive="active"
                                                (click)="toggleMobileMenu()"
                                            >
                                                {{ 'navigation.notificationRule' | translate }}
                                            </a>
                                        </li>
                                        <!-- <li>
                                            <a routerLink="/alarm/settings" routerLinkActive="active" (click)="toggleMobileMenu()">{{ 'navigation.alarmSettings' | translate }}</a>
                                        </li> -->
                                    </ul>
                                </div>
                            </li>

                            <li class="accordion menu nav-item">
                                <button
                                    type="button"
                                    class="nav-link group w-full"
                                    [ngClass]="{ active: activeDropdown.includes('protocolAnalysis') }"
                                    (click)="toggleAccordion('protocolAnalysis')"
                                >
                                    <div class="flex items-center">
                                        <icon-menu-charts class="shrink-0 group-hover:!text-primary" />
                                        <span class="text-black dark:text-[#506690] dark:group-hover:text-white-dark ltr:pl-3 rtl:pr-3"
                                            >{{ 'navigation.protocolAnalysis' | translate }}</span
                                        >
                                    </div>
                                    <div [ngClass]="{ 'rtl:rotate-90 -rotate-90': !activeDropdown.includes('protocolAnalysis') }">
                                        <icon-caret-down />
                                    </div>
                                </button>
                                <div [@slideDownUp]="!activeDropdown.includes('protocolAnalysis')" class="accordion-content">
                                    <ul class="sub-menu text-gray-500">
                                        <!-- <li >
                                            <a routerLink="/protocol-analysis/session-info" routerLinkActive="active"  (click)="toggleMobileMenu()">{{ 'navigation.sessionInfo' | translate }}</a>
                                        </li> -->
                                        <!-- <li  >
                                            <a routerLink="/protocol-analysis/application-protocols" routerLinkActive="active" (click)="toggleMobileMenu()">{{ 'Application Protocols' | translate }}</a>
                                        </li> -->


                                        <li class="accordion menu nav-item">
                                            <button
                                                type="button"
                                                class="w-full before:h-[5px] before:w-[5px] before:rounded before:bg-gray-300 hover:bg-gray-100 dark:text-[#888ea8] dark:hover:bg-gray-900 ltr:before:mr-2 rtl:before:ml-2"
                                                (click)="toggleAccordion('Application Protocols', 'pages')"
                                            >
                                                {{ 'navigation.applicationProtocols' | translate }}
                                                <div class="ltr:ml-auto rtl:mr-auto" [ngClass]="{ 'rtl:rotate-90 -rotate-90': !activeDropdown.includes('Application Protocols') }">
                                                    <icon-carets-down [fill]="true" class="h-4 w-4" />
                                                </div>
                                            </button>

                                            <div [@slideDownUp]="!activeDropdown.includes('Application Protocols')" class="accordion-content">
                                                <div *ngIf="!zeekProtocols?.length" class="text-gray-500 p-2">
                                                    No protocols loaded
                                                </div>

                                                <ul class="sub-menu text-gray-500">
                                                    <li *ngFor="let protocol of zeekProtocols">
                                                        <a
                                                            [routerLink]="['/protocol-analysis/application-protocols', protocol.logName.toLowerCase()]"
                                                            routerLinkActive="active"
                                                            (click)="toggleMobileMenu()"
                                                        >
                                                            {{ protocol.logName | uppercase }}
                                                            <!-- <small class="ml-2">({{ protocol.attribute.length || 0 }} attrs)</small> -->
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>


                                        <!-- <li >
                                            <a routerLink="/protocol-analysis/settings"  routerLinkActive="active"  (click)="toggleMobileMenu()">{{ 'navigation.settings' | translate }}</a>
                                        </li> -->

                                    </ul>
                                </div>
                            </li>

                            <li class="accordion menu nav-item">
                                <button
                                    type="button"
                                    class="nav-link group w-full"
                                    [ngClass]="{ active: activeDropdown.includes('threatManagement') }"
                                    (click)="toggleAccordion('threatManagement')"
                                >
                                    <div class="flex items-center">
                                        <icon-menu-components class="shrink-0 group-hover:!text-primary" />
                                        <span class="text-black dark:text-[#506690] dark:group-hover:text-white-dark ltr:pl-3 rtl:pr-3"
                                            >{{ 'navigation.threatManagement' | translate }}</span
                                        >
                                    </div>
                                    <div [ngClass]="{ 'rtl:rotate-90 -rotate-90': !activeDropdown.includes('threatManagement') }">
                                        <icon-caret-down />
                                    </div>
                                </button>
                                <div [@slideDownUp]="!activeDropdown.includes('threatManagement')" class="accordion-content">
                                    <ul class="sub-menu text-gray-500">
                                        <li class="accordion menu nav-item">
                                            <button
                                                type="button"
                                                class="w-full before:h-[5px] before:w-[5px] before:rounded before:bg-gray-300 hover:bg-gray-100 dark:text-[#888ea8] dark:hover:bg-gray-900 ltr:before:mr-2 rtl:before:ml-2"
                                                (click)="toggleAccordion('ids', 'threatManagement')"
                                            >
                                                {{ 'navigation.ids' | translate }}
                                                <div class="ltr:ml-auto rtl:mr-auto" [ngClass]="{ 'rtl:rotate-90 -rotate-90': !activeDropdown.includes('ids') }">
                                                    <icon-carets-down [fill]="true" class="h-4 w-4" />
                                                </div>
                                            </button>

                                            <div [@slideDownUp]="!activeDropdown.includes('ids')" class="accordion-content">
                                                <ul class="sub-menu text-gray-500">
                                                    <!-- <li>
                                                        <a routerLink="/threat-management/basic-configuration" routerLinkActive="active" (click)="toggleMobileMenu()"
                                                            >{{ 'navigation.basicConfiguration' | translate }}</a
                                                        >
                                                    </li> -->
                                                    <li>
                                                        <a routerLink="/threat-management/rules-policy" routerLinkActive="active" (click)="toggleMobileMenu()"
                                                            >{{ 'navigation.rulesPolicy' | translate }}</a
                                                        >
                                                    </li>
                                                    <!-- <li>
                                                        <a routerLink="/threat-management/rule-update" routerLinkActive="active" (click)="toggleMobileMenu()"
                                                            >{{ 'navigation.ruleUpdate' | translate }}</a
                                                        >
                                                    </li> -->
                                                    <li>
                                                        <a routerLink="/threat-management/local-rules" routerLinkActive="active" (click)="toggleMobileMenu()"
                                                            >{{ 'navigation.localRules' | translate }}</a
                                                        >
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>


                            <li class="accordion menu nav-item">
                                <button
                                    type="button"
                                    class="nav-link group w-full"
                                    [ngClass]="{ active: activeDropdown.includes('report') }"
                                    (click)="toggleAccordion('report')"
                                >
                                    <div class="flex items-center">
                                        <icon-menu-charts class="shrink-0 group-hover:!text-primary" />
                                        <span class="text-black dark:text-[#506690] dark:group-hover:text-white-dark ltr:pl-3 rtl:pr-3">
                                            {{ 'navigation.report' | translate }}
                                        </span>
                                    </div>
                                    <div [ngClass]="{ 'rtl:rotate-90 -rotate-90': !activeDropdown.includes('report') }">
                                        <icon-caret-down />
                                    </div>
                                </button>
                                <div [@slideDownUp]="!activeDropdown.includes('report')" class="accordion-content">
                                    <ul class="sub-menu text-gray-500">
                                        <li>
                                            <a
                                                routerLink="/report/template/list"
                                                routerLinkActive="active"
                                                [routerLinkActiveOptions]="{exact: false}"
                                                (click)="toggleMobileMenu()"
                                            >
                                                {{ 'navigation.templates' | translate }}
                                            </a>
                                        </li>

                                           <li>
                                            <a
                                                routerLink="/report/scheduler"
                                                routerLinkActive="active"
                                                (click)="toggleMobileMenu()"
                                            >
                                                {{ 'navigation.reportScheduler' | translate }}
                                            </a>
                                        </li>
                                        <li>
                                            <a
                                                routerLink="/report/list"
                                                routerLinkActive="active"
                                                (click)="toggleMobileMenu()"
                                            >
                                                {{ 'navigation.reports' | translate }}
                                            </a>
                                        </li>


                                    </ul>
                                </div>
                            </li>
                            <li class="accordion menu nav-item">
                                <button
                                    type="button"
                                    class="nav-link group w-full"
                                    [ngClass]="{ active: activeDropdown.includes('systemSettings') }"
                                    (click)="toggleAccordion('systemSettings')"
                                >
                                    <div class="flex items-center">
                                        <icon-layout [fill]="true" class="shrink-0 group-hover:!text-primary" />

                                        <span class="text-black dark:text-[#506690] dark:group-hover:text-white-dark ltr:pl-3 rtl:pr-3"
                                            >{{ 'navigation.systemSettings' | translate }}</span
                                        >
                                    </div>
                                    <div [ngClass]="{ 'rtl:rotate-90 -rotate-90': !activeDropdown.includes('invoice') }">
                                        <icon-caret-down />
                                    </div>
                                </button>
                                <div [@slideDownUp]="!activeDropdown.includes('systemSettings')" class="accordion-content">
                                    <ul class="sub-menu text-gray-500">
                                        <li>
                                            <a routerLink="/user-management" routerLinkActive="active" (click)="toggleMobileMenu()"
                                                >{{ 'navigation.userManagement' | translate }}</a
                                            >
                                        </li>
                                        <li>
                                            <a routerLink="/role-management" routerLinkActive="active" (click)="toggleMobileMenu()"
                                                >{{ 'navigation.roleManagement' | translate }}</a
                                            >
                                        </li>
                                        <li>
                                            <a routerLink="/notification-settings" routerLinkActive="active" (click)="toggleMobileMenu()"
                                                >{{ 'navigation.notificationSettings' | translate }}</a
                                            >
                                        </li>
                                        <li>
                                            <a routerLink="/system-time" routerLinkActive="active" (click)="toggleMobileMenu()"
                                                >{{ 'navigation.systemTime' | translate }}</a
                                            >
                                        </li>
                                        <li>
                                            <a routerLink="/interface-management" routerLinkActive="active" (click)="toggleMobileMenu()"
                                                >{{ 'navigation.interfaceManagement' | translate }}</a
                                            >
                                        </li>
                                        <li>
                                            <a routerLink="/asset-book" routerLinkActive="active" (click)="toggleMobileMenu()"
                                                >{{ 'navigation.assetBook' | translate }}</a
                                            >
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a routerLink="/log" class="group" routerLinkActive="active" (click)="toggleMobileMenu()">
                                    <div class="flex items-center">
                                        <icon-menu-calendar class="shrink-0 group-hover:!text-primary" />

                                        <span class="text-black dark:text-[#506690] dark:group-hover:text-white-dark ltr:pl-3 rtl:pr-3"
                                            >{{ 'navigation.log' | translate }}</span
                                        >
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>

</ul>



