.tooltip-container {
    position: relative;
    display: inline-block;
    max-width: 100%;
}

.tooltip-container span {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: help;
} 