<div>
    <ul class="flex space-x-2 rtl:space-x-reverse">
        <li>
            <a href="javascript:;" class="text-primary hover:underline">System Settings</a>
        </li>
        <li class="before:mr-2 before:content-['/'] rtl:before:ml-2">
            <span>Interface Management</span>
        </li>
    </ul>
    <div class="pt-5">
        <div>
            <div class="flex flex-wrap items-center justify-between gap-4">
                <h2 class="text-xl"></h2>
                <div class="flex w-full flex-col gap-4 sm:w-auto sm:flex-row sm:items-center sm:gap-3">
                    <div class="flex gap-3">
                        <div>
                            <button type="button" class="btn btn-primary" (click)="addContactModal.open(); initForm()">
                                Add 
                            </button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-outline-primary p-2"
                                [ngClass]="{ 'bg-primary text-white': displayType === 'list' }"
                                (click)="displayType = 'list'">
                                <icon-list-check />
                            </button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-outline-primary p-2"
                                [ngClass]="{ 'bg-primary text-white': displayType === 'grid' }"
                                (click)="displayType = 'grid'">
                                <icon-layout-grid />
                            </button>
                        </div>
                    </div>

                    <div class="relative">
                        <input type="text" placeholder="Search Interfaces"
                            class="peer form-input py-2 ltr:pr-11 rtl:pl-11" [(ngModel)]="searchText" name="searchText"
                            (ngModelChange)="searchInterfaces()" />
                        <div
                            class="absolute top-1/2 -translate-y-1/2 peer-focus:text-primary ltr:right-[11px] rtl:left-[11px]">
                            <icon-search class="mx-auto" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel mt-5 overflow-hidden border-0 p-0">
                <ng-container *ngIf="displayType === 'list'">
                    <div class="table-responsive">
                        <table class="table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Interface Name</th>
                                    <th>Method</th>
                                    <th>IP Address</th>
                                    <th>Netmask</th>
                                    <th>Default Gateway</th>
                                    <th class="!text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let iface of filteredInterfaces">
                                    <td>
                                        <div>{{ iface.interface_name }}</div>
                                    </td>
                                    <td>{{ iface.method }}</td>
                                    <td class="whitespace-nowrap">{{ iface.ip_address }}</td>
                                    <td class="whitespace-nowrap">{{ iface.netmask }}</td>
                                    <td class="whitespace-nowrap">{{ iface.gateway }}</td>
                                    <td>
                                        <div class="flex items-center justify-center gap-4">
                                            <button type="button" class="btn btn-sm btn-outline-primary"
                                                (click)="editInterface(iface)">
                                                Edit
                                            </button>
                                            <button type="button" class="btn btn-sm btn-outline-danger"
                                                (click)="deleteInterface(iface)">Delete</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </ng-container>
            </div>

            <!-- add interface modal -->
            <ngx-custom-modal #addContactModal class="no-footer">
                <ng-template #modalHeader>
                    <div class="!font-medium">{{ params.controls['id'].value ? 'Edit Interface' : 'Add Interface' }}</div>
                </ng-template>
                <ng-template #modalBody>
                    <form [formGroup]="params" class="text-sm" (ngSubmit)="saveInterface()" ngNativeValidate>
                        <div class="mb-5">
                            <label for="interface_name">Interface Name</label>
                            <input id="interface_name" type="text" formControlName="interface_name" class="form-input" required />
                        </div>
                        <div class="mb-5">
                            <label for="Method">Method</label>
                            <ng-select id="Method" formControlName="method" [items]="optionsMethod" [clearable]="false" 
                                placeholder="Select an option" class="custom-multiselect flex-1" 
                                (change)="onAdapterChange($event)">
                            </ng-select>
                        </div>
                        <div class="mb-5" *ngIf="!showDHCP">
                            <label for="ip_address">IP Address</label>
                            <input id="ip_address" type="text" 
                                formControlName="ip_address" 
                                class="form-input" 
                                placeholder="e.g., 192.168.1.1" />
                            <div *ngIf="params.get('ip_address')?.errors?.['pattern']" class="text-danger mt-1">
                                Please enter a valid IP address
                            </div>
                        </div>
                        <div class="mb-5" *ngIf="!showDHCP">
                            <label for="netmask">Netmask</label>
                            <input id="netmask" type="text" 
                                formControlName="netmask" 
                                class="form-input" 
                                placeholder="e.g., 255.255.255.0" />
                            <div *ngIf="params.get('netmask')?.errors?.['pattern']" class="text-danger mt-1">
                                Please enter a valid netmask
                            </div>
                        </div>
                        <div class="mb-5" *ngIf="!showDHCP">
                            <label for="gateway">Default Gateway</label>
                            <input id="gateway" type="text" 
                                formControlName="gateway" 
                                class="form-input" 
                                placeholder="e.g., 192.168.1.1" />
                            <div *ngIf="params.get('gateway')?.errors?.['pattern']" class="text-danger mt-1">
                                Please enter a valid IP address
                            </div>
                        </div>
                      
                        <div class="mt-8 flex items-center justify-end">
                            <button type="button" class="btn btn-outline-danger"
                                (click)="addContactModal.close()">Cancel</button>
                            <button type="submit" class="btn btn-primary ltr:ml-4 rtl:mr-4">
                                {{ params.controls['id'].value ? 'Update' : 'Add' }}
                            </button>
                        </div>
                    </form>
                </ng-template>
            </ngx-custom-modal>
        </div>
    </div>
</div>